body {
    background-color: aquamarine;
    font-size: 15px;
  
    color: blueviolet;
}
    h1 {
    color: blue;
}

#miprimertitulo {
    color: brown;

}


.primerparrafo¨{
    color: blue;
    font-size: 100px;
}


